@charset "UTF-8";
@font-face {
  font-family: "DatingHistoria-Bold";
  src: url("/fonts/DatingHistoria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
body {
  margin: 0;
}

main {
  margin: 0;
  margin-bottom: 30px;
}

.top {
  background-image: url("/images/cuisinier.jpg");
  background-size: cover;
  background-position: center center;
  height: 563px;
  width: 100%;
  overflow: hidden; /* cache le contenu qui dépasse le conteneur */
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.retour img {
  height: 50px;
  padding-right: 5px;
}

.account img {
  height: 30px;
  margin-right: 10px;
}

.account_user {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  font-size: 18px;
  font-family: "DatingHistoria", sans-serif;
}
.account_user .dropdown {
  display: none;
}
.account_user .dropdown li {
  list-style: none;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 25px;
  cursor: pointer;
}
.account_user .dropdown li:hover {
  background-color: #000;
  color: #fff;
}
.account_user .dropdown li a {
  text-decoration: none;
  color: #E61D1D;
}

.navbar {
  position: relative;
  background-color: black;
  width: 60%;
  padding: 10px;
}

.navbar span.menu-button {
  display: block;
  text-align: center;
  font-family: "DatingHistoria-Bold", sans-serif;
  font-size: 30px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.navbar ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar a {
  display: block;
  padding: 10px;
  font-family: "DatingHistoria-Bold", sans-serif;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.header.active .navbar ul {
  display: block;
}

@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
    flex-direction: column; /* affiche la liste verticalement */
    align-items: center;
  }
  .navbar ul li {
    margin-right: 0;
    margin-bottom: 10px; /* ajoute une marge inférieure pour séparer les éléments */
  }
}
.main_content {
  display: block;
  justify-content: center;
  padding-top: 265px;
  padding-left: 88px;
  width: 430px;
}
.main_content .main_buttons {
  width: 350px;
  text-align: center;
  margin-top: 305px;
  margin-bottom: 50px;
}
.main_content .main_buttons h1 {
  font-size: 35px;
  background-color: #E6CB1D;
  color: #000;
  font-family: "DatingHistoria", sans-serif;
}

.numero_table_group {
  margin-top: 30px;
}
.numero_table_group .numero_table {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  /* Définition de l'animation */
  /* Appliquer l'animation au bouton */
}
.numero_table_group .numero_table .pair {
  background-color: green;
  color: white;
}
.numero_table_group .numero_table .impair {
  background-color: #bd8787;
  color: white;
}
@keyframes blink {
  0% {
    background-color: #bd8787; /* Couleur initiale */
  }
  50% {
    background-color: #1d4ce6; /* Couleur à mi-chemin de l'animation */
  }
  100% {
    background-color: #bd8787; /* Couleur finale */
  }
}
.numero_table_group .numero_table .encour {
  animation: blink 1s infinite; /* Durée de l'animation (1 seconde) et répétition infinie */
}
.numero_table_group .numero_table .encour {
  color: white;
}
.numero_table_group .numero_table button {
  width: 120px;
  height: 100px;
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.numero_table_commande {
  padding: 1px 60px 1px 60px;
}
.numero_table_commande h1 {
  text-transform: uppercase;
  background-color: #E61D1D;
  padding: 2px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: "DatingHistoria", sans-serif;
}
