@charset "UTF-8";
@font-face {
  font-family: "DatingHistoria-Bold";
  src: url("/fonts/DatingHistoria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
body {
  margin: 0;
}

main {
  margin: 0;
  margin-bottom: 30px;
}


.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.retour img {
  height: 50px;
  padding-right: 5px;
}

.account img {
  height: 30px;
  margin-right: 10px;
}

.account_user {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  font-size: 18px;
  font-family: "DatingHistoria", sans-serif;
}
.account_user .dropdown {
  display: none;
}
.account_user .dropdown li {
  list-style: none;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 25px;
  cursor: pointer;
}
.account_user .dropdown li:hover {
  background-color: #000;
  color: #fff;
}
.account_user .dropdown li a {
  text-decoration: none;
  color: #E61D1D;
}

.navbar {
  position: relative;
  background-color: black;
  width: 60%;
  padding: 10px;
}

.navbar span.menu-button {
  display: block;
  text-align: center;
  font-family: "DatingHistoria-Bold", sans-serif;
  font-size: 30px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.navbar ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar a {
  display: block;
  padding: 10px;
  font-family: "DatingHistoria-Bold", sans-serif;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.header.active .navbar ul {
  display: block;
}

@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
    flex-direction: column; /* affiche la liste verticalement */
    align-items: center;
  }
  .navbar ul li {
    margin-right: 0;
    margin-bottom: 10px; /* ajoute une marge inférieure pour séparer les éléments */
  }
}
.main_content {
  display: block;
  justify-content: center;
  padding-top: 265px;
  padding-left: 88px;
  width: 430px;
}
.main_content .main_buttons {
  width: 350px;
  text-align: center;
  margin-top: 305px;
  margin-bottom: 50px;
}
.main_content .main_buttons h1 {
  font-size: 35px;
  background-color: #E6CB1D;
  color: #000;
  font-family: "DatingHistoria", sans-serif;
}

.numero_table {
  margin: 30px;
  text-align: center;
  /* Style pour le bouton de soumission */
}
.numero_table .submit-btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.numero_table .detail_commande {
  margin-top: 25px;
  /* Style pour la table */
  /* Style pour les cases à cocher */
  /* Style pour le texte barré */
  /* Style pour centrer le texte */
}
.numero_table .detail_commande h1 {
  margin-bottom: 30px; /* Ajouter une marge en bas pour espacer du bouton */
}
.numero_table .detail_commande table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* Ajouter cette ligne pour centrer la table horizontalement */
}
.numero_table .detail_commande th, .numero_table .detail_commande td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-size: 1.5rem;
}
.numero_table .detail_commande th {
  background-color: #f2f2f2;
}
.numero_table .detail_commande .checkbox {
  text-align: center;
}
.numero_table .detail_commande .submit-btn:hover {
  background-color: #E61D1D;
}
.numero_table .detail_commande .strike-through {
  text-decoration: line-through;
  color: #E61D1D;
}
.numero_table .detail_commande .text-center {
  text-align: center;
  background-color: #eca644;
  color: #fff;
  font-size: 26px;
}
